[SBIR]
NUM_EPOCHS = 60
NUM_CLASSES = 250
BATCH_SIZE = 128
VALIDATION_STEPS = 18
LEARNING_RATE = 0.1
DECAY_STEPS = 5000
SNAPSHOT_DIR = /home/vision/smb-datasets/SBIR/QuickDraw-Animals/vae/snapshots_1
DATA_DIR = /home/vision/smb-datasets/SBIR/QuickDraw-Animals/vae
CHANNELS = 1
IMAGE_TYPE = MNIST
IMAGE_WIDTH = 128
IMAGE_HEIGHT = 128
USE_MULTITHREADS = False
NUM_THREADS = 10
CKPFILE = /home/vision/smb-datasets/SBIR/QuickDraw-Animals/vae/snapshots_1/060.h5

