[SBIR]
NUM_EPOCHS = 50
NUM_CLASSES = 1
BATCH_SIZE = 128
VALIDATION_STEPS = 25
LEARNING_RATE = 0.1
DECAY_STEPS = 5000
SNAPSHOT_DIR = /content/convnet2/snapshots/vae
DATA_DIR = /content/data_escala_grises
CHANNELS = 1
IMAGE_TYPE = MNIST
IMAGE_WIDTH = 64
IMAGE_HEIGHT = 64
USE_MULTITHREADS = False
#CKPFILE = /home/vision/smb-datasets/SBIR/QuickDraw-Animals/vae/snapshots_1/060.h5

